@import 'common/sass/variables';
@import 'common/sass/mixins';

$speed: 1ms;

@mixin decrypt-title {
  text-align: left;
  line-height: 1.4;
  margin-bottom: 3px;
  margin-top: 0;
  font-size: 18px;
  animation: decrypt-enter $speed ease 1;
}

.WalletDecrypt > div {
  // display: flex;
  //     flex-direction: column;
  //     justify-content: center;
      // height: calc(100vh - 90px);
}

.WalletDecrypt {
  position: relative;
  height: 100%;


  &-title {
    width: 100%;
    padding-top: 2px;
    text-align: left;
    padding-left: 20px;
    line-height: 1.4;
    margin: $space 0 2rem;
    font-weight: 400;
    font-size: 16px;
    left: 220px;
    // @include decrypt-title;
    background-color: white;
    z-index: 1030;
    margin-top: -30px;
    padding-bottom: 10px;
    border-bottom: solid .5px #F0F2F4;

  }

  &-wallets {
    margin: 0 - $space-md;
    padding-top: $electron-osx-control-spacing + 23px;

    &-topsection {
      position: fixed;
      top: 0;
      height: auto;
      width: 100%;
      padding-top: $electron-osx-control-spacing - 20px;
      left: 200px;
      z-index: 900;
      background-color: white;
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
      margin-bottom: 18px;
      border-bottom: solid .5px #F0F2F4;

    &-title {
      @include decrypt-title;
      padding-left: 20px;
    }

    &-description {
      margin: 0 0 $space;
      color: color(gray);
      text-align: left;
      font-size: 13px;
      padding-left: 20px;
      }

    }

    &-row {
      display: flex;
      justify-content: left;
      flex-wrap: wrap;
      margin: 0;
      // margin-bottom: 10px;

      @media screen and (max-width: $screen-xs) {
        margin: 0;
      }

      &:last-child {
        margin: 0;
      }
    }

    &-generate {
      text-align: center;
      // font-weight: 300;
      // letter-spacing: -.2px;
      margin: $space 0;
    }
  }

  &-decrypt {
    position: relative;
    text-align: left;
    // padding: 0 20px;
    // margin: 0 -$space-md;
    height: 100%;



    @media (max-width: $screen-md) {
      // padding-bottom: $space * 2;
    }

    &-back {
      @include reset-button;
      // position: absolute;
      // top: 0px;
      // left: 0px;
      line-height: 2.2rem;
      opacity: 0.4;
      // transition: opacity 120ms ease, transform 120ms ease;
      z-index: 990;
      padding-top: 60px;

      // @media (max-width: $screen-md) {
      //   top: auto;
      //   bottom: -10px;
      //   left: 50%;
      //   transform: translateX(-50%);
      // }

      &:hover,
      &:focus {
        opacity: 0.8;
      }

      &:active {
        opacity: 1;
      }

      .fa {
        position: relative;
        top: -1px;
        font-size: 14px;
      }
    }

    &-title {
      @include decrypt-title;
    }

    &-form {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 600px;
      width: 70%;
      margin: 0 auto;
    }
    .btn-primary {
      // float: right !important;
      // width: auto;
    }

    &-label {
      opacity: 0.8;
      font-weight: 300;
      white-space: nowrap;
      width: 60%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-override {
      position: absolute;
      bottom: 0;
      right: 0;
      opacity: 0.3;

      &:hover {
        opacity: 1;
      }
    }
  }
}

// Animation between two slides
.DecryptContent {

  &-enter {
    opacity: 0;
    transition: opacity $speed * 0.25 ease $speed * 0.125;

    &-active {
      opacity: 1;
    }
  }

  &-exit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    transition: opacity $speed * 0.25 ease;
    pointer-events: none;

    &-active {
      opacity: 0;
    }
  }
}
