@import 'common/sass/variables';
@import 'common/sass/mixins';

$speed: 1ms;

@mixin decrypt-title {
  text-align: left;
  line-height: 1.4;
  margin-bottom: 3px;
  margin-top: 0;
  font-size: 18px;
  animation: decrypt-enter $speed ease 1;
}

.WalletDecrypt > div {

}

// .Tab-content {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
// }

.WalletDecrypt {
  position: relative;
  height: 100%;
  margin-left: auto;
  margin-right: auto;





  &-title {
    width: 100%;
    padding-top: 2px;
    text-align: left;
    padding-left: 20px;
    line-height: 1.4;
    margin: $space 0 2rem;
    font-weight: 400;
    font-size: 16px;
    left: $electron-sidebar-width + 20px;
    // @include decrypt-title;
    background-color: white;
    z-index: 1030;
    margin-top: -30px;
    padding-bottom: 10px;
    border-bottom: solid .5px color(n20);

  }

  &-wallets {
    margin: 0 - $space-md;
    padding-top: $electron-osx-control-spacing + 30px;


    &-topsection {
      position: fixed;
      top: 0;
      height: auto;
      width: 100%;
      padding-top: 20px;
      left: $electron-sidebar-width;
      z-index: 1000;
      background-color: color(n0);
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
      padding-right: 10px;
      margin-bottom: 18px;
      border-bottom: solid .5px color(n20);

    &-title {
      @include decrypt-title;
      padding-left: 20px;
    }



    }
    &-description {
      margin: 0 0 1rem;
      color: color(n800);
      text-align: left;
      font-size: 16px;
      padding-bottom: 10px;
      }
    &-row {
      display: flex;
      justify-content: left;
      flex-wrap: wrap;
      margin: 0;

      @media screen and (max-width: $screen-xs) {
        margin: 0;
      }

      &:last-child {
        margin: 0;
      }
    }

    &-generate {
      text-align: center;
      // font-weight: 300;
      // letter-spacing: -.2px;
      margin: $space 0;
    }
  }

  &-decrypt {
    position: relative;
    text-align: left;
    // padding: 0 20px;
    // margin: 0 -$space-md;
    height: 100%;
    // background: red;
    border: solid 1px color(n40);
    border-radius: 6px;
    margin: 70px auto 0 auto;
    padding: 1rem;
    max-width: 55%;



    @media (max-width: $screen-md) {
      // padding-bottom: $space * 2;
    }

    &-back {
      @include reset-button;
      // position: absolute;
      // top: 0px;
      // left: 0px;
      line-height: 2.2rem;
      opacity: 0.4;
      // transition: opacity 120ms ease, transform 120ms ease;
      z-index: 990;

      // @media (max-width: $screen-md) {
      //   top: auto;
      //   bottom: -10px;
      //   left: 50%;
      //   transform: translateX(-50%);
      // }

      &:hover,
      &:focus {
        opacity: 0.8;
      }

      &:active {
        opacity: 1;
      }

      .fa {
        position: relative;
        top: -1px;
        font-size: 14px;
      }
    }

    &-title {
      @include decrypt-title;
    }

    &-form {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      // max-width: 600px;
      // width: 70%;
      margin: 0 auto;

      .TogglablePassword {
        .input-group-input {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border-right: 0;
          resize: none;


        }
      }
    }
    .btn-primary {
      // float: right !important;
      // width: auto;
    }

    &-label {
      opacity: 0.8;
      font-weight: 300;
      white-space: nowrap;
      width: 60%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-override {
      position: absolute;
      bottom: 0;
      right: 0;
      opacity: 0.3;

      &:hover {
        opacity: 1;
      }
    }
  }
}

// Animation between two slides
.DecryptContent {

  &-enter {
    opacity: 0;
    transition: opacity $speed * 0.25 ease $speed * 0.125;

    &-active {
      opacity: 1;
    }
  }

  &-exit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    transition: opacity $speed * 0.25 ease;
    pointer-events: none;

    &-active {
      opacity: 0;
    }
  }
}
