@import 'common/sass/variables';

.TxHashInput {
  // max-width: 700px;
  margin: 0;

  &-recent {
    text-align: left;

    &-separator {
      display: block;
      font-size: 13px;
      margin: 0 0 $space-sm 0;
      text-align: center;
      text-transform: uppercase;
      font-style: normal;
      letter-spacing: .4px;
      // color: shade-dark(0.3);
    }
  }
}
