@import 'common/sass/variables';
@import 'common/sass/mixins';

// Prefer pixels of rem in this file, Electron shouldn't be responsive in the
// same way the content is.
$branding-spacing-top: 12px;
$back-spacing: 20px;

.ElectronNav {
  transition: transform 300ms ease;

  &.is-panel-open {
    transform: translateX(-100%);
  }

  &-branding {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    // padding-top: $branding-spacing-top;
    background: color(control-bg);
    z-index: 1;
    // border-bottom: 1px solid shade-dark(0.1);
    // padding-bottom: 15px;
    .is-osx & {
      padding-top: $electron-osx-control-spacing - $branding-spacing-top;
    }

    &-logo {
      margin-left: 18px;
      margin-right: 19px;
      height: 55px;
      max-width: 140px;
      margin-bottom: 4px;
      background-image: url('~assets/images/logo-eximchain-wallet-blue.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      // cursor: pointer;

      @include theme(dark) {
        background-image: url('~assets/images/logo-myquorumwallet-white.svg');
      }
      //
      // &:hover {
      //   opacity: 0.8;
      // }
    }

    &-beta {
      text-align: center;
      letter-spacing: 4px;
      height: 20px;
      line-height: 20px;
      color: color(text-color-inverted);
      background: color(brand-info);
      text-transform: uppercase;
      font-size: 8px;
      opacity: 0.8;
      pointer-events: none;

      @include theme(dark) {
        opacity: 1;
      }
    }
  }

  &-links {
    padding: 0;
    margin: 0 auto;
  }

  &-status {
    margin: 12px 0;
    // padding-left: 20px;
    font-size: 12px;
  }

  &-controls {
    margin: 10px 0;
    // padding: 0 20px;

    &-btn {
      @include reset-button;
      display: flex;
      align-items: center;
      width: 100%;
      color: color(gray);
      font-size: 12px;
      padding: 0 0 20px 6px;
      padding-left: 20px;
      font-weight: 300;

      &-icon {
        font-size: 12px;
        margin-left: 4px;
        padding-right: 5px;
        &.is-online {
          color: color(brand-success);
          margin-left: 0px;
        }

        &.is-offline {
          color: color(brand-danger);
          margin-left: 0px;
        }

        &.is-connecting {
          color: color(brand-warning);
          margin-left: 0px;
        }
      }

      &:hover {
        color: shade-dark(0.7);
      }
    }
  }

  &-panel {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    z-index: $zindex-navbar - 1;

    &-back {
      @include reset-button;
      position: sticky;
      top: 0;
      display: flex;
      align-items: center;
      width: 100%;
      border-bottom: 1px solid color(gray-lighter);
      font-size: 14px;
      // max-width: 190px;
      text-align: left;
      margin-left: 20px;
      // margin-top: 20px;
      // margin-right: 28px;
      padding: 8px 0px;
      color: color(gray);
      // border-bottom: 1px solid shade-dark(0.05);
      background: color(control-bg);

      .is-osx & {
        padding-top:
        $electron-osx-control-spacing;
      }

      &-icon {
        font-size: 12px;
        margin-right: 4px;
      }

      &:hover {
        color: color(brand-primary);
      }
    }
  }
}

// Styling for common/components/NavigationLink, with custom classname
.ElectronNavLink {
  display: block;
  margin: 0;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  @include ellipsis;

  &-link {
    display: block;
    height: 48px;
    line-height: 48px;
    padding: 0 0 0 20px;
    // border-bottom: 1px solid shade-dark(0.08);
    color: color(gray);
    font-size: 14px;
    font-weight: 300;

    &.is-active {
      color: color(link-color);
      font-weight: 400;
      background: color(blue-01);
      &:hover {
        color: color(brand-primary);
        background: color(blue-01);
      }
    }

    &:hover {
      color: color(gray);
      opacity: 1;
      background: shade-dark(0.03);
    }

    &-icon {
      font-size: 12px;
      margin-left: 3px;
      opacity: 0.8;
    }
  }
}
