@import 'common/sass/variables';
@import 'common/sass/mixins';

// Prefer pixels of rem in this file, Electron shouldn't be responsive in the
// same way the content is.
$branding-spacing-top: 12px;
$back-spacing: 20px;

.ElectronNav {
  transition: transform 300ms ease;

  &.is-panel-open {
    transform: translateX(-100%);
  }

  &-branding {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    padding-bottom: 10px;
    // padding-top: $branding-spacing-top;
    // background: #F8F9FA;
    // border-bottom: 1px solid shade-dark(0.1);
    .is-osx & {
      padding-top: $electron-osx-control-spacing ;
    }

    &-logo {
      margin-left: 17px;
      margin-right: 0px;
      height: 60px;
      max-width: 110px;
      // margin-bottom: 20px;
      background-image: url('~assets/images/logo-eximchain-wallet-blue.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      // cursor: pointer;

      @include theme(dark) {
        background-image: url('~assets/images/logo-eximchain-wallet-white.svg');
      }
      //
      // &:hover {
      //   opacity: 0.8;
      // }
    }

    &-beta {
      text-align: center;
      letter-spacing: 4px;
      height: 20px;
      line-height: 20px;
      color: color(text-color-inverted);
      background: color(p70);
      text-transform: uppercase;
      font-size: 8px;
      opacity: 0.8;
      pointer-events: none;

      @include theme(dark) {
        opacity: 1;
      }
    }
  }

  &-links {
    padding: 0;
    margin: 0 auto;
  }

  &-status {
    margin: 12px 0;
    font-size: 12px;
  }

  &-controls {
    margin: 10px 0;
    // padding: 0 20px;

    &-btn {
      @include reset-button;
      display: flex;
      align-items: center;
      width: 100%;
      color: color(gray);
      font-size: 12px;
      padding: 0 0 18px 6px;
      padding-left: 23px;
      font-weight: 300;

      &-icon {
        font-size: 16px;
        margin-left: 6px;
        margin-top: -1px;
        padding-right: 5px;
        color: #B4BAC4;
        &.is-online {
          color: color(g70);
          margin-left: 0px;
        }

        &.is-offline {
          color: color(r70);
          margin-left: 0px;
        }

        &.is-connecting {
          color: color(brand-warning);
          margin-left: 0px;
        }
      }

      &:hover {
        color: shade-dark(0.7);
      }
    }
  }

  &-panel {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    z-index: $zindex-navbar - 1;

    &-back {
      @include reset-button;
      position: sticky;
      top: 0;
      display: flex;
      align-items: center;
      width: 100%;
      font-size: 14px;
      text-align: left;
      margin-left: 20px;
      padding: 12px 0px;
      color: color(gray);
      background: #F8F9FA;

      .is-osx & {
        padding-top: $electron-osx-control-spacing + 10px;
      }

      &-icon {
        font-size: 12px;
        margin-right: 4px;
      }

      &:hover {
        color: color(b60);
      }
    }
  }
}

// Styling for common/components/NavigationLink, with custom classname
.ElectronNavLink {
  display: block;
  margin: 0 12px 0 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  @include ellipsis;
  padding: 8px 0 8px 0;

  &-link {
    display: block;
    height: 20px;
    line-height: 20px;
    padding: 0 0 0 24px;
    font-weight: 400;
    color: color(n300);
    font-size: 13px;
    // border-bottom: 1px solid shade-dark(0.08);
    // font-weight: 300;
    // margin-right: 12px;

    &.is-active {
      color: color(n800);
      font-weight: 600;
      border-left: solid color(n800) 5px;
      padding: 0 0 0 19px;

      &:hover {
        color: color(n800);
        background: none;
      }
    }

    &:hover {
      color: color(n800);
      opacity: 1;
    }

    &-icon {
      font-size: 22px;
      margin-left: 0px;
      position: fixed;
      bottom: 24px;
      left: 24px;
    }
    &:focus {
      color: color(n800);
    }
  }
}
