@import 'common/sass/variables';

.NetworkStatus {
  display: flex;
  align-items: center;

  &-icon {
    width: 14px;
    height: 14px;
    margin-right: 4px;
    border-radius: 3.5px;

    &.is-online {
      background: color(brand-success);
    }

    &.is-offline {
      background: color(brand-danger);
    }

    &.is-connecting {
      background: color(brand-warning);
    }
  }

  &-text {
    color: #1F2F47;
    font-size: 13px;
    font-weight: 500;
  }
}
