@import 'common/sass/variables';

.NetworkStatus {
  display: flex;
  align-items: center;

  &-icon {
    width: 14px;
    height: 14px;
    margin-right: 4px;
    border-radius: 3.5px;

    &.is-online {
      background: color(g70);
    }

    &.is-offline {
      background: color(r70);
    }

    &.is-connecting {
      background: color(brand-warning);
    }
  }

  &-text {
    color: color(n800);
    font-size: 14px;
    font-weight: 600;
    padding-right: 4px;
    padding-left: 2px;

    &.is-offline {
      max-width: 120px;
      text-align: left;
      font-size: 13px;


    }

  }
}
