@import 'common/sass/variables';
@import 'common/sass/mixins';

$width: 40px;
$default-opacity: 1;

@keyframes send-everything-enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: $default-opacity;
  }
}

.SendEverything {
  @include reset-button;
  display: block;
  position: absolute;
  top: 0px;
  background: color(n0);
  right: 12px;
  padding: 0 5px;
  // height: $input-height-base;
  width: auto;
  margin-left: -$width;
  font-size: $font-size-xs-bump;
  color: color(b60);
  border-left: 1px solid inherit;
  opacity: $default-opacity;
  transition: $transition;
  animation: send-everything-enter 200ms ease 1;
  @include show-tooltip-on-hover;

  &-icon {
    transition: transform 150ms ease;
    font-size: 18px;
    margin-bottom: 4px;
    transform: translateY(-2px);

  }

  &:disabled {
    display: none;
  }

  &:hover {


    .SendEverything-icon {
      // transform: translateY(-4px);
      opacity: 1;
      color: color(b60);


    }
  }
}
