@import 'common/sass/variables.scss';


.ProgressDots {
  display: flex;
  align-items: center;

  &-dot {
    width: 22px;
    height: 7px;
    margin: 0 0.4rem;
    border-radius: 3px;
    background: color(n0);
    opacity: 0.4;
    cursor: pointer;

    &--active {

      opacity: 1;
      // border: 3px solid #fff;
    }
  }
}
