@import 'common/sass/variables';
@import 'common/sass/mixins';

.ReadFunctionContent {
  min-height: 500px;

  .btn {
    margin-bottom: 0;
  }

  .ElectronNav-controls-btn-icon {
    margin-left: 0;
    color: color(n800);
  }

  &-header {
    margin-top: 0;
    margin-bottom: 16px;
    text-transform: uppercase;
    letter-spacing: .7px;
    font-weight: 400;
    font-size: 14px;
  }

  &-arrow {
    margin: auto;
  }
}

.FormBackButton {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  color: color(n200);

  &-hover {
    cursor: pointer;
    color: color(gray);
  }
}

.Input-container {
  position: relative;
  border-radius: 6px;
  width: 50%;
  margin-right: 10px;

  .InteractExplorer-func-submit {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
  }

}

.Input-box {
  position: relative;
  padding: 1rem;
  border: solid 1px color(n40);
  border-radius: 6px;
  width: 100%;
  min-height: 87%;
}

.Output-container {
  position: relative;
  margin-left: 10px;
  width: 50%;
}

.Output-box {
  position: relative;
  padding: 1rem;
  border: solid 1px color(n40);
  border-radius: 6px;
  background: color(n10);
  min-height: 100%;



  label {
    margin-bottom: 0;
  }

  .output-group {
    flex-direction: column;
    padding-bottom: 8px;
    padding-top: 8px;
    border-bottom: 1px solid color(n30);
    width: 100%;
  }

  .input-group-header {
    padding: 0;
    background: none;
    margin-left: 0;
    width: 100%;
    // float: left;
    font-size: 13px;
    vertical-align: center;
    text-align: left;
    font-weight: 300;
  }

  .input-group-input {
    border: none;
    background: none;
    padding: 0;
    text-overflow: ellipsis;

    // text-align: right;
    height: auto;
    margin-bottom: 0;
    // width: max-content;
    font-size: 13px;
    // float: right;
    font-weight: 600;

  }

}
