@import 'common/sass/variables';
@import 'common/sass/mixins';

.output-group {
  width: 100%;
  // background: red;
}

.ReadFunctionContent {
  min-height: 360px;

  &-header {
    margin-top: 0;
    margin-bottom: 16px;
    text-transform: uppercase;
    letter-spacing: .7px;
    font-weight: 400;
    font-size: 14px;
  }

  &-arrow {
    margin: auto;
  }
}

.Input-box {
  position: relative;
  padding: 1rem;
  border: solid 1px color(n40);
  border-radius: 6px;
  width: 50%;
  margin-right: 10px;

  .FormBackButton {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  .InteractExplorer-func-submit {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

}

.Output-box {
  position: relative;

  margin-left: 10px;
  padding: 1rem;
  width: 50%;
  border: solid 1px color(n40);
  border-radius: 6px;
  background: color(n10);

  .input-group-header {
    padding: 0.75rem .5rem 0 0;
    background: none;
    margin-left: 0;
    width: max-content;
    float: left;
    font-size: 14px;
    vertical-align: center;
    text-align: left;
  }

  .input-group {
    flex-direction: row;
  }

  .input-group-input {
    border: none;
    background: none;
    padding: 0.75rem 0 0 .5rem;
    text-align: right;
    height: auto;
    margin-bottom: 0;
    width: max-content;
    font-size: 14px;

    float: right;
  }

}
