@import 'common/sass/variables';
@import 'common/sass/mixins';

.AccountInfo {
  padding-top: 14px;

  &-copy {
    display: inline-block;
    cursor: pointer;
    color: color(text-color);
    font-size: $font-size-xs;
    opacity: 0.5;
    transition: $transition;
    margin-right: $space-sm;

    &:hover {
      opacity: 1;
    }

    &.is-copied {
      color: color(g70);
      opacity: 1;
    }

    .fa {
      margin-right: $space-xs;
      margin-left: 0.1rem;
    }
  }

  &-label {
    display: inline-block;
    cursor: pointer;
    color: color(text-color);
    font-size: $font-size-xs;
    opacity: 0.5;

    .fa {
      margin: 0 $space-xs 0 $space-sm;
    }
  }

  &-section {
    margin: 0 0 $space 0;

    &:first-child {
      margin-top: 0;
    }

    &-header {
      padding-top: 20px;
      margin-top: 0;
      display: inline-block;
      font-size: $font-size-xs-bump;
      font-weight: 400;
      color: color(gray);
      text-transform: capitalize;
      letter-spacing: 0;
      padding-left: 20px;
      padding-right: 20px;
    }

    &-top-header {
      margin-top: 0;
      padding-top: 10px;
      padding-bottom: 20px;
      display: inline-block;
      font-size: $font-size-bump-more;
      font-weight: 400;
      color: color(n800);
      text-transform: capitalize;
      letter-spacing: 0;
      border-bottom: solid 1px color(n20);
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }

    &-refresh {
      background: transparent;
      border: none;
      padding: 0;
      height: 1.4rem;
      width: 1.2rem;
      opacity: 0.3;
      transition: opacity 0.3s;
      > img {
        height: inherit;
        width: inherit;
        vertical-align: top;
      }
      &:hover {
        opacity: 0.54;
      }
      &:active {
        transition: opacity 120ms;
        opacity: 1;
      }
    }
  }

  &-address,
  &-list {
    padding-left: 0;
  }

  &-address {
    @include clearfix;

    &-section {
      display: flex;
      max-width: 100%;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      margin-top: 8px;
      padding-left: 20px;
      padding-right: 20px;
    }

    &-wrapper {
      max-width: calc(100% - 44px - 24px);

      &-error {
        color: color(r70);
        margin-bottom: $space-md;
      }
    }

    &-icon {
      width: 44px;
      height: 44px;
      margin-right: $space-md;
    }

    &-addr {
      margin-top: -$space-xs;
      word-wrap: break-word;
      font-feature-settings: 'ss02' 1;
      @include mono;

      &--small {
        font-size: 0.7rem;
      }
    }

    &-confirm {
      display: flex;
      align-items: center;
      .Spinner {
        margin-right: 16px;
      }
    }

    &-label {
      font-size: $font-size-small;
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: break-word;
      text-transform: uppercase;
      margin-bottom: 0;
      letter-spacing: .7px;
      color: color(gray);
    }
  }

  &-balance {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &-amount {
      margin-right: $space-sm;
    }
  }

  &-list {
    &-item {
      margin-bottom: 0;
      list-style-type: none;
      word-break: break-all;
      padding-left: 20px;
      padding-right: 20px;

      &-clickable:hover {
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}
