@import 'common/sass/variables';
@import 'common/sass/mixins';

.AccountInfo {
  position: relative;
  padding: 14px 0 8px 0;
  background-color: color(n0);
  border: solid 1px color(n40);
  border-radius: 6px;
  // for putting in sidebar, in future
  // position: fixed;
  // padding: 10px 0;
  // bottom: 20px;
  // left: 20px;
  // border-top: solid 1px color(n40);

  &-address-hw-addr {
    padding-left: 4.5rem;
    font-size: 15px;

  }

  &-address-confirm {
    padding-left: 4.5rem;
    margin-top: -1.3rem;
    font-size: 15px;
    .Spinner {
      margin-right: 8px !important;

      circle {
      stroke: color(b60);
      }
    }
  }

  &-save {
    // position: absolute;
    opacity: 1 !important;
    right: 0;
    padding-left: 6px;
    // bottom: 2px;
  }
  &-add {
    opacity: 1 !important;
    margin-bottom: 0 !important;
    padding: 2px 6px !important;
  }


  &-edit {
    opacity: 0;
    transition: opacity 0.3s;
  }

  &-padding-top {
    padding-top: 8px;
  }

  .Identicon-shadow {
    box-shadow: none;
  }


  &-copy {
    display: inline-block;
    cursor: pointer;
    color: color(b60);
    font-size: $font-size-xs;
    transition: $transition;
    margin-right: $space-sm;
    font-weight: 400;
    opacity: 0;

    &:hover {
      opacity: 1;
    }

    &.is-copied {
      // color: color(g70);
      opacity: 1;
    }

    .fa {
      margin-right: $space-xs;
      margin-left: 0.1rem;
      font-size: 14px;
      padding-left: 8px;
    }
  }

  &-label {
    cursor: pointer;
    color: color(b60);
    font-size: $font-size-xs;
    // float: right;
    margin-top: 3px;

    &:hover {
      .AccountInfo-edit {
        opacity: 1;
      }
    }

    .fa {
      margin: 0 $space-xs 0 $space-sm;
    }
  }

  &-section {
    margin: 0 0 0 0;

    &-address-hw-addr {
      margin-bottom: 0;
    }

    &:first-child {
      margin-top: 0;
    }

    &-label {
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      display: flex;

      .input-group-input {
        margin-bottom: .25rem;
        padding: 4px;
        height: auto;
        text-transform: uppercase;
        letter-spacing: .4px;
        border: none !important;
        font-size: $font-size-xs;
        font-weight: 400;
        background: color(b0);
      }

      &:hover {

        .AccountInfo-edit {
        opacity: 1;
        }

      }
      // padding-left: 1rem;
    }

    &-header {
      // padding-top: 20px;
      margin-top: 0;
      display: inline-block;
      font-size: $font-size-xs-bump;
      font-weight: 400;
      color: color(gray);
      text-transform: capitalize;
      letter-spacing: 0;
      // padding-left: 1rem;
      padding-bottom: 8px;
      padding-right: 1rem;
    }

    h2 {
      font-weight: 600;
    }

    &-top-header {
      margin-top: 0;
      display: inline-block;
      font-size: $font-size-base;
      font-weight: 600;
      color: color(n800);
      text-transform: capitalize;
      letter-spacing: 0;
      // border-bottom: solid 1px color(n20);
      width: 100%;
      margin-left: 4.5rem;
      flex: 1;
      padding-top: 6px;
      padding-right: 1rem;

      &:hover {
        .AccountInfo-copy {
          opacity: 1;
        }
      }

      img {
        height: 20px;
        margin-right: 6px;
        margin-left: -1px;

      }
    }

    &-refresh {
      background: transparent;
      border: none;
      padding: 0;
      height: 1.4rem;
      width: 1.2rem;
      opacity: 0;
      color: color(b60);
      transition: opacity 0.5s;
      > img {
        height: inherit;
        width: inherit;
        vertical-align: top;
      }
      &:hover {
        opacity: 0.5;
      }
      &:active {
        transition: opacity 120ms;
        opacity: 1;
      }
    }
  }

  &-address,
  &-list {
    padding-left: 0;
  }

  &-address {
    @include clearfix;

    &-section {
      display: flex;
      max-width: 100%;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      // margin-top: 8px;
      padding-left: 20px;
      padding-right: 20px;
    }

    &-wrapper {
      max-width: calc(100% - 44px - 24px);

      &-error {
        color: color(r70);
        font-size: $font-size-xs;
        // margin-top: -6px;
        padding-top: 0;
        margin-bottom: 0;
        padding-left: 6px;

      }
    }



    &-icon {
      position: absolute;
      left: 0;
      top: 16px;
      width: 46px !important;
      height: 46px !important;
      margin-right: $space-md;
      padding-left: 1rem;

      // .Identicon {
      //   margin-right: 3px !important;
      // }
    }

    &-addr {
      margin-top: -$space-xs;
      word-wrap: break-word;
      font-feature-settings: 'ss02' 1;
      @include mono;

      &--small {
        font-size: 0.7rem;
      }
    }

    &-confirm {
      display: flex;
      align-items: center;
      .Spinner {
        margin-right: 16px;
      }
    }

    &-label {
      font-size: $font-size-xs;
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: break-word;
      text-transform: uppercase;
      margin-bottom: 0;
      letter-spacing: .4px;
      color: color(n600);
      width: 100%;
      background: color(n20);
      border-radius: 6px;
      padding: 2px 6px;
      margin-top: 0;
      margin-right: 8px;
      width: max-content;

      &:empty {
        display: none;
        padding: 0;
        margin: 0;
        height: 0;
      }
    }
  }

  &-balance {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &-amount {
      margin-right: $space-sm;
    }
  }

  &-list {
    margin-bottom: 0;
    &-item {
      margin-bottom: 2.5rem;
      list-style-type: none;
      word-break: break-all;
      padding-left: 4.5rem;
      padding-right: 1rem;
      padding-top: .2rem;
      font-size: 15px;
      color: color(n800);

      &:hover {
        .AccountInfo-section-refresh {
          opacity: 1;
        }
      }

      &-clickable:hover {
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}
