@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import './variables/colors';
@import './variables/spacing';
@import './variables/electron';
@import './variables/grid';
@import './variables/typography';
@import './variables/transitions';
@import './variables/tables';
@import './variables/tooltips';
@import './variables/zindex';

// Misc.
$border-radius-small: 2px;
$border-radius-base: $border-radius-small;
$border-radius-large: $border-radius-small;
$input-border-radius: 4px;
$input-border-radius-small: $input-border-radius;
$input-border-radius-large: $input-border-radius;
$btn-border-radius: 4px;

$input-height-base: 3rem;
$input-height-large: 4rem;
$input-height-small: 2rem;

$input-border: color(control-border);
$input-color: color(control-color);
$input-group-addon-bg: color(control-addon-bg);
$input-group-addon-border-color: color(control-addon-bg);

$label-color: #fff;
$label-link-hover-color: #fff;

$link-hover-decoration: none;

$alert-padding: 1rem;
$alert-border-radius: $border-radius;
$alert-link-font-weight: bold;

$alert-success-bg: color(g70);
$alert-success-text: color(text-color-inverted);
$alert-success-border: $alert-success-bg;

$alert-info-bg: color(b60);
$alert-info-text: color(text-color-inverted);
$alert-info-border: $alert-info-bg;

$alert-warning-bg: color(brand-warning);
$alert-warning-text: color(text-color-inverted);
$alert-warning-border: $alert-warning-bg;

$alert-danger-bg: color(r70);
$alert-danger-text: color(text-color-inverted);
$alert-danger-border: $alert-danger-bg;

$well-bg: color(n10);
$well-border: color(n20);

$tab-box-shadow: 0 1px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.12);

$pre-bg: color(n10);
$pre-color: color(n700);
$pre-border-color: color(n20);
$pre-scrollable-max-height: 23rem;

$component-offset-horizontal: 12rem;
$text-muted: color(n60);
$abbr-border-color: color(n60);
$headings-small-color: inherit;
$blockquote-small-color: color(n60);
$blockquote-font-size: ($font-size-base * 1.25);
$blockquote-border-color: color(n20);
$page-header-border-color: color(n20);
$dl-horizontal-offset: $component-offset-horizontal;
$dl-horizontal-breakpoint: $grid-float-breakpoint;
$hr-border: color(n20);
$dropdown-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);

/* --- */

$baby-blue: #267EDC;
$heading-text-color: #4a4a4a;
$button-primary: #267EDC;
$light-gray: #979797;
