@import 'common/sass/variables';

$rail-height: 10px;
$handle-size: 18px;
$speed: 70ms;

@keyframes slider-loading {
  0%, 100% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.4;
  }
}

.rc-slider {
  &-rail {
    background: color(n30);
    border-radius: 0;
  }

  &-track {
    // height: 18px !important;
    background: color(b60);
    border: solid 2px color(b60);
    visibility: visible !important;
  }

  &-handle {
    top: 50%;
    width: $handle-size;
    height: $handle-size;
    // background: color(b60);
    margin: 0;
    border: none;
    transform: translate(-50%, -50%);
    background: color(b60);
    border: solid 2px color(b60);

    &:hover,
    &:focus,
    &:active {
      background: color(b90);
      border: none;
      box-shadow: none;
    }

  }

  &-tooltip {
    &-arrow {
      .rc-slider-tooltip-placement-top & {
        border-top-color: color(tooltip-bg);
      }
    }

    &-inner {
      background: color(tooltip-bg);
      padding: 7px 8px;
      height: 26px;
      box-shadow: none;
      border-radius: 3px;
    }
  }

  // Disabled styles
  &-disabled {
    background: none;

    .rc-slider {
      &-handle,
      &-track {
        display: none;
      }

      &-rail {
        animation: slider-loading 1s ease infinite;
      }
    }
  }
}
