@import 'common/sass/variables';

$rail-height: 10px;
$handle-size: 18px;
$speed: 70ms;

@keyframes slider-loading {
  0%, 100% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.4;
  }
}

.rc-slider {
  &-rail {
    background: color(n30);
    // border-radius: 0;
    height: 4px !important;

  }

  &-track {
    height: 4px !important;
    background: color(b60);
    visibility: visible !important;
    transition: all 0.32s cubic-bezier(0.77, 0, 0.175, 1) 0s;

  }

  &-step {
    height: 4px !important;
  }

  &-handle {
    top: 50%;
    border-radius: 100%;
    margin: 1px 0 0 0px;
    transform: translate(-50%, -50%);
    background: color(n0);
    border: solid 2px color(b60);
    transition: width 100ms, height 100ms, transform 100ms;

    &:hover,
    &:active {
      background: color(n0);
      border: solid 2px color(b60);
      height: 18px;
      width: 18px;
      // transition: width 300ms;
      // transition: height 300ms;
      // transition-timing-function: ease;

      box-shadow: none;
    }

    &:focus,
    &:active {
      background: color(n0);
      border: solid 2px color(b60);
      box-shadow: none;
    }


  }

  &-tooltip {
    &-arrow {
      .rc-slider-tooltip-placement-top & {
        border-top-color: color(tooltip-bg);
      }
    }

    &-inner {
      background: color(tooltip-bg);
      padding: 7px 8px;
      height: 26px;
      box-shadow: none;
      border-radius: 3px;
    }
  }

  // Disabled styles
  &-disabled {
    background: none;

    .rc-slider {
      &-handle,
      &-track {
        display: none;
      }

      &-rail {
        animation: slider-loading 1s ease infinite;
      }
    }
  }
}
