@import 'common/sass/variables';

.rdt input {
  font-family: inherit;
}

.rdtPicker {
  background: color(control-bg);
  border-color: color(control-border);

  th, tfoot {
    border-color: color(n10);
  }

  thead {
    tr:first-child {
      th:hover {
        background: color(n10);
      }
    }
  }

  td {
    &.rdtActive,
    &.rdtActive:hover {
      background-color: color(b60);
    }

    &.rdtDay:hover {
      background: color(n10);
    }

    &.rdtToday::before {
      border-bottom: 7px solid color(b60);
    }
  }

  .rdtTimeToggle:hover {
    background: color(n10);
  }
}

.rdtCounter .rdtBtn,
.rdtNext,
.rdtPrev {
  color: color(b60);
}

.rdtCounter {
  .rdtBtn:hover {
    background: color(n10);
  }
}
