.abiJsonPlaceholder {
  color: #8F98A6;
}

.InteractForm {
  padding-top: 50px;

  .CodeBlock {
    max-height: 100px;

  }

  .CodeBlock-content {
    width: 100%;
  }

&-submit {
  // width: auto;
  // float: right;
  // margin-bottom: 20px;
}
  // .btn {
  //   margin-bottom: 20px;
  //   width: auto;
  //   float: right;
  // }
}
