@import 'common/sass/variables';

.GenerateMnemonic {
  position: relative;
  text-align: center;

  &-title {
    margin-bottom: $space-md;
  }

  &-help {
    margin-bottom: $space * 2;
    margin-top: $space * 2;

  }

  &-words {
    display: flex;
    margin: 0 auto $space;
    justify-content: center;
    flex-wrap: wrap;

    .input-group-addon {
      left: 2px;
      top: 3px;
      right: auto;
      text-align: right;
    }
    .input-group-input {
      padding-left: 36px;
      padding-top: .5rem;
      padding-bottom: .5rem;

    }

    &-column {
      max-width: 320px;
      margin: 0 $space-md $space-md;
    }
  }

  &-buttons {
    display: flex;
    margin: auto;
    width: 60%;

    &-btn {
      margin: 0 5px;
      width: 100%;
      // max-width: 260px;
      float: none;
      flex: 1;
    }
  }

  &-skip {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
  }
}
