@import 'common/sass/variables';

$width: 320px;
$number-width: 40px;
$number-margin: 6px;

@keyframes word-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.MnemonicWord {
  display: flex;
  // width: $width;
  margin-bottom: $space-sm;

  &:last-child {
    margin-bottom: 0;
  }

  & .input-group-addon {
    margin-bottom: $space-md;
    color: color(gray);
    font-weight: 300;
  }

  &-word {
    width: $width - $number-width - $number-margin;

    &-input {
      // animation: word-fade 400ms ease 1;
      animation-fill-mode: both;
      transition: border 0.2s ease-in;
      margin-bottom: 0;
    }
  }

  &-button {
    position: relative;
    width: 300px;
    margin-bottom: $space-sm;

    &-index {
      position: absolute;
      padding-top: 1px;
      z-index: 1;
      color: color(text-color-inverted);
      width: 26px;
      height: 26px;
      border-top-left-radius: 6px;
      border-bottom-right-radius: 6px;
      background: color(n800);
      line-height: 24px;
    }
  }

  // Fade-in animation
  @for $i from 1 to 12 {
    &:nth-child(#{$i}) {
      .MnemonicWord-word-input {
        animation-delay: $i * 50ms;
        // border: none;
        // background: color(n20);
      }
    }
  }
}
