@import "common/sass/variables";

.BroadcastTx {
  position: relative;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;

&-form-group {
  max-width: 600px;
}
  &-topsection {
    position: fixed;
    top: 0;
    height: auto;
    width: 100%;
    padding-top: 20px;
    left: $electron-sidebar-width;
    z-index: 1000;
    background-color: white;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-right: 10px;
    margin-bottom: 18px;
    border-bottom: solid .5px color(n20);
    padding-bottom: 14px;

  h2 {
    text-align: left;
    line-height: 1.4;
    margin-bottom: 3px;
    margin-top: 0;
    font-size: 18px;
    padding-left: 20px;
  }

  &-help {
    margin: 0 0 1rem;
    color: color(gray);
    text-align: left;
    font-size: 13px;
    padding-left: 20px;
    }
  }

  &-input {
    padding-top: 50px;
    // margin: $space $space 0 0;
    text-align: left;
    width: 100%;
    // max-width: 500px;
    // padding-right: 20px;
     .input-group {
       // margin: 0 500px 0 0;
       width: 100%;
       // max-width: 600px;
       margin-left: 0;
       // padding-right: 20px;
     }

     // @media (max-width: $screen-lg) {
     //    max-width: 1040px;
     //   }
     //   @media (max-width: $screen-md) {
     //      max-width: 780px;
     //     }
     //     @media (max-width: $screen-sm) {
     //        max-width: 600px;
     //       }
     //       @media (max-width: $screen-xs) {
     //          max-width: 440px;
     //         }
     }

  &-qr {
    max-width: 15rem;
    margin: 1rem auto;
    width: 100%;
    text-align: left;
  }
}
