@import "common/sass/variables";

.BroadcastTx {
  // max-width: 1040px;
  // margin: 0 auto;
  position: relative;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  margin: 0 -$space-md 0 0;
  // display: flex;
  // justify-content: left;
  // flex-wrap: wrap;


  &-topsection {
    position: fixed;
    top: 0;
    height: 100px;
    // width: inherit;
    padding-top: $electron-osx-control-spacing + 2px;
    left: 220px;
    z-index: 1000;
    background-color: white;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;

  h1 {
    text-align: left;
    line-height: 1.4;
    margin-bottom: 3px;
    margin-top: 0;
    font-weight: normal;
    font-size: 22px;
  }

  &-help {
    margin: 0 0 $space * 2;
    color: color(gray);
    text-align: left;
    }
  }

  &-input {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: left;
    margin: $space 0;
    text-align: left;
    width: 100%;
    max-width: 1040px;
  }



  &-qr {
    max-width: 15rem;
    margin: 1rem auto;
    width: 100%;
    text-align: left;
  }
}
