@import 'common/sass/variables';

.TogglablePassword {
  &-toggle {
    cursor: pointer;
    color: color(n600);
    transition: $transition;

    &:hover {
      color: color(n800);
      background: color(n10);
    }
  }
}
