@import 'common/sass/variables';

.input-group-addon {
    position: absolute;
    right: 2px;
    top: 2px;
    padding: 10px;
    border: none;
    }

.TogglablePassword {

  .input-group-input {
    padding-right: 40px;
    // border-right: 1px solid color(n40);
  }



  &-toggle {
    cursor: pointer;
    color: color(gray);
    transition: $transition;

    &:hover {
      color: color(n800);
      // background: color(n10);
    }
  }
}
