@import 'common/sass/variables';

.FeeSummary {
  // background: #E7E9EC;
  border-style: solid;
  border-color: #D8DBE0 #fff #D8DBE0 #fff;
  border-width: 1px;
  // border-radius: 4px;
  height: 42px;
  line-height: 42px;
  padding: 0 12px;
  margin: 8px 0;
  font-family: $font-family-base;
  text-align: center;
  font-size: 14px;
}

.SchedulingFeeSummary {
  font-size: 12px;
  height: auto;
  min-height: 42px;
}
