@import 'common/sass/variables';

.ENSInput {
  max-width: 520px;
  // padding: $space-sm 0;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // padding-top: 50px;

  &-button {
    .Spinner {
      margin-left: $space-md;
    }
  }
}
