@import 'common/sass/variables';

.SubTabs {
  margin-top: $space-xs;
  padding-top: 65px;
  padding-bottom: 20px;


  .is-electron & {
    margin-top: 0;
  }

  &-tabs {
    display: inline-block;
    white-space: nowrap;
    border-radius: 4px;


    &-link {
      display: inline-block;
      padding: 8px 12px;
      font-size: $font-size-base;
      min-width: 80px;
      text-align: center;
      font-weight: 300;
      color: color(gray);
      background-color: color(gray-lighter);

      // border: 1px solid color(gray-light);
      transition-duration: 80ms;
      // opacity: 1;


      &:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-right: none;


        &.is-active {
          border-right: 1px solid color(tab-active-border);
        }
      }
      &:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        // margin-left: -2px;
        border-left: none;
        &.is-active {
          border-left: 1px solid color(tab-active-border);

        }

      }

      &:hover {
        opacity: 1;
        color: inherit;
        background-color: shade-dark(.15);
      }

      &.is-active {
        color: white;
        background-color: color(brand-primary);
        border-color: color(tab-active-border);
        opacity: 1;
      }

      &.is-disabled {
        color: color(gray-light);
        pointer-events: none;
        text-decoration: line-through;
      }
    }
  }

  &-select {
    margin-bottom: $space-md;
  }
}
