.SignMessage {
  text-align: center;

  &-content {
    padding-top: 46px;
  }

  &-label {
    float: left;
  }

  &-reset {
    display: block;
    // margin-left: auto;
    // margin-right: auto;
    // margin-top: 50px;
    // margin-bottom: 0.25rem;
    position: fixed;
    top: 24px;
    right: 24px;
    z-index: 1000;

    .fa {
      margin-right: 8px;
    }
  }

  &-sign {
    width: 100%;
  }

  &-help {
    font-size: 13px;
    font-weight: 300;
    color: color(gray);
    margin-bottom: 1rem;
  }

  &-inputBox {
    min-height: 180px;

    .input-group {
      padding-top: 20px; 
      width: 100%;
    }
  }

  &-error {
    opacity: 0;
    transition: none;

    &.is-showing {
      opacity: 1;
    }
  }

  &-buy {
    margin-top: 10px;
  }
}
