@import 'common/sass/variables';
@import 'common/sass/mixins';

$step-number-size: 42px;

.FinalSteps {
  margin-top: $space * 4;


  &-title {
    position: fixed;
    top: 0;
    left: $electron-sidebar-width;
    width: 100%;
    font-weight: 600 !important;
    font-size: 18px;
    text-align: left;
    height: auto;
    line-height: 1.4;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 10px;
    padding-bottom: 17px;
    z-index: 1000;
    background-color: color(n0);
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 18px;
  }
  &-help {
    margin-bottom: $space;
    margin-top: $space;

  }

  &-steps {
    margin-bottom: $space;
  }

  &-buttons {
    &-btn {
      width: 100%;
      max-width: 320px;
      float: none;
      margin: auto;
    }
  }
}

.StepBox {
  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &-title {
    margin-bottom: $space-md;
    @include ellipsis;
  }

  &-screen {
    position: relative;
    width: 100%;
    max-width: 340px;
    margin: 0 auto $space * 2;

    // Keeps box height at a .8 ratio to width
    &:after {
      content: '';
      display: block;
      padding-top: 75%;
    }

    &-img {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      background: color(n20);
      border-radius: 4px;
      box-shadow: 0 1px 3px rgba(#000, 0.3);
    }

    &-number {
      position: absolute;
      bottom: -10px;
      right: -10px;
      width: $step-number-size;
      height: $step-number-size;
      line-height: $step-number-size;
      font-size: 22px;
      color: #FFF;
      text-align: center;
      background: color(p70);
      box-shadow: 0 1px 2px rgba(#000, 0.3);
      border-radius: 100%;
    }
  }
}
