@import 'common/sass/variables';
@import 'common/sass/mixins';

$divider-size: 60px;

.WalletTypes {
  text-align: center;

 &-topsection {
   position: fixed;
   top: 0;
   height: auto;
   width: 100%;
   padding-top: 20px;
   left: $electron-sidebar-width;
   z-index: 1000;
   background-color: white;
   margin-left: 0;
   margin-right: 0;
   margin-top: 0;
   padding-right: 10px;
   margin-bottom: 18px;
   border-bottom: solid .5px color(n20);
   padding-bottom: 14px;

  &-title {
    margin-top: 0;
    margin-bottom: 3px;
    text-align: left;
    font-size: 18px;
    line-height: 1.4;
    animation: decrypt-enter 1ms ease 1;
    padding-left: 20px;


  }

  &-subtitle {
    margin: 0 0 1rem;
    color: color(n800);
    text-align: left;
    font-size: 16px;
    padding-left: 10px;
    width: 100%;
  }
  }

  &-suggestions {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
    text-align: left;
    padding-top: $electron-osx-control-spacing;
  }

  &-types {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: $space * 2 0 $space;
    padding-top: 30px;
  }

  &-divider {
    position: relative;
    margin: 3rem auto 4rem;
    background: color(pane-bg);
    font-size: 1.8rem;
    font-weight: 300;
    color: shade-dark(0.4);

    @media (max-width: $screen-xs) {
      margin: 1.5rem auto 2.5rem;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: calc(50% - 2rem);
      max-width: 600px;
      background: shade-dark(0.1);
      height: 1px;
    }

    &:before {
      transform: translateX(-100%) translateX(-$divider-size / 2);
    }

    &:after {
      transform: translateX(0%) translateX($divider-size / 2);
    }
  }

  &-download {
    padding-bottom: $space;

    &-button {
      font-size: $font-size-medium-bump;
      border-radius: 4px;
      margin-bottom: $space-md;
      padding: 1.3rem 2.5rem;

      @media (max-width: $screen-xs) {
        padding: 1rem 1.5rem;
        font-size: $font-size-base;
      }
    }

    &-desc {
      color: shade-dark(0.5);

      @media (max-width: $screen-xs) {
        font-size: $font-size-small;
      }
    }
  }
}

.WalletSuggestion,
.WalletType {
  display: flex;
  flex-direction: column;
  border: 1px solid shade-dark(0.12);
  // box-shadow: 0 3px 2px rgba(0, 0, 0, 0.12);
  background: color(control-bg);
  border-radius: 6px;
  transition: transform 100ms ease, box-shadow 100ms ease;
  &:hover {
    // transform: translateY(-2px);
    // box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
  }

}

.WalletSuggestion {
  flex: 1;
  // max-width: 340px;
  min-width: 250px;
  margin: 0 10px $space * 2;
  padding: $space;
  border-radius: 4px;
  // border-top: 3px solid;

  &.is-hardware {
    // border-top-color: #41ccb4;
  }

  &.is-metamask {
    // border-top-color: #f79220;
  }

  // &:first-child {
  //   margin-left: 0 !important;
  // }


  &.is-generate {
    // border-top-color: color(r70);
  }

  @media (max-width: $screen-sm) {
    flex: auto;
    width: 100%;
    max-width: none;
    min-width: 0;
  }

  &:hover {
    // transform: translateY(-2px);
    // box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
  }

  &-name {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-size: $font-size-base;
    font-weight: 400;
    justify-content: left;
    margin: $space-xs 0 3px;

    &-icon {
      height: 20px;
      // margin-right: $space-md;
      opacity: 0.8;

      @include theme(dark) {
        filter: invert(1);
      }
    }
  }

  &-description {
    color: color(n300);
    font-size: $font-size-small;
    font-weight: 300;
    // padding-bottom: 1rem;
  }

  &-features {
    flex: 1;
    padding-left: 1.25rem;
    font-size: 15px;
    color:color(n700);

    .fa {
      margin-right: 4px;
    }

    .is-danger {
      color: color(r70);
    }
    .is-warning {
      color: color(brand-warning);
    }
  }

  &-buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    &-button {
      flex: 1;
      margin-bottom: $space-sm;

      &:last-child {
        margin: 0;
      }
    }
  }
}

.WalletType {
  padding: $space;
  text-align: left;
  margin: 0 $space $space * 2;
  flex: 1;

  &-title {
    margin: 0 0 $space;
    text-align: left;
    color: color(n800) !important;

  }

  &-features {
    padding-left: 18px;
    color: color(n600);
  }

  &-select {
    &-btn {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 0;
    }
  }
}
