@import 'common/sass/variables';
@import 'common/sass/mixins';


.CodeBlock {
  position: relative;
  font-weight: 300;
  // max-width: 600px;
  font-size: 1rem;
  color: color(control-color);
  background-color: color(n20);
  border: none;
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
  border-radius: 6px;
  // overflow: auto;
  // box-shadow: 1px 1px 4px 0 rgba(0,0,10,0.04),0 20px 80px -20px rgba(0,0,10,0.2),0 20px 30px -30px rgba(0,0,0,0.4);

  code {
    border: none;
  }

  &-fade-right {
    position: absolute;
    z-index: 2;
    border-radius: 0 6px 6px 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 10px;
    pointer-events: none;
    background: -webkit-linear-gradient(right, color(n20) 0%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to left, color(n20) 0%, rgba(255,255,255,0) 100%);
  }
  &-fade-bottom {
    position: absolute;
    z-index: 2;
    border-radius: 0 6px 6px 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 10px;
    pointer-events: none;
    background: -webkit-linear-gradient(right, color(n20) 0%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to top, color(n20) 0%, rgba(255,255,255,0) 100%);
  }

  &-content {
    padding:  0.75rem 1rem;
    overflow: auto;
    width: max-content;

  }

  & > code {
    display: block;
    position: relative;
    text-align: left;
    // max-height: 171px !important;
    width: max-content;
    overflow: scroll;
    border: none;
    background-color: inherit;
    font-size: 14px;
    white-space: pre;
    @include mono;
  }
  &.wrap {
    & > code {
      white-space: normal;
    }
  }
}
