@import 'common/sass/variables';

.example-form {
  max-width: 744px;
  margin: auto;
}


.input-group {
  margin: auto;
  display: flex;
  flex-direction: column;
  // align-items: flex-start;

  // &:active, &:focus {
  //   .input-group-header {
  //   color: color(b60);
  //   }
  // }

  &:focus-within {
    .input-group-header {
      color: color(b60) !important;
    }
  }





  > .TogglablePassword {
    width: 100%;
  }

  & > pre,
  & > .Select,
  &-input {
    margin-bottom: 1rem;
  }

  &-inline {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    flex-wrap: wrap;
    align-items: flex-start;


    > .input-group-header {
      // width: 100%;
    }

    > .input-group-input {
      flex-grow: 1;
      width: auto;
    }

    > .Select {
      margin-left: 8px;
    }

    &[readonly],
    &[disabled] {
      background-color: color(control-disabled-bg);
      color: color(control-disabled-color);
      border-color: color(control-disabled-border);
      cursor: default;
    }
  }


  &-header {
    display: inline-block;
    font-size: $font-size-xs-bump;
    z-index: 2;
    width: max-content;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    flex-grow: 0;
    margin-bottom: -8px;
    font-weight: 400;
    border-radius: 4px;
    color: color(gray);
    text-transform: capitalize;
    background: color(n0);
    // align-items: center;
    // flex-wrap: wrap;
    // overflow: hidden;




    > *:first-child {
      margin-right: 8px;
    }

    > .flex-spacer {
      flex-grow: 1;
    }

    > .small {
      color: color(gray);
    }
  }

  &-input {
    width: 100%;
    border: 1px solid color(control-border);
    border-radius: $input-border-radius;
    height: $input-height-base;
    padding: 0.75rem 1rem;
    font-weight: 300;
    background: color(control-bg);
    color: color(control-color);
    transition: border-color 120ms;
    margin-bottom: 1rem;




    &[placeholder] {
      text-overflow: ellipsis;
    }

    &.border-rad-right-0 {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &.border-right-0 {
      border-right: 0;
      // border-bottom-right-radius: 0;
    }
    &.border-rad-left-0 {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &-small {
      padding: 0.5rem 0.75rem;
    }
    &::placeholder {
      color: color(control-placeholder);
    }
    &:not([disabled]):not([readonly]) {
      &.invalid {
        border-color: color(r70);
      }
      &.valid {
        border-color: color(g70);
      }
      &:hover {
        border-color: color(n60);
      }
      &:focus {
        border-color: color(b50);

      }
      &:active {
        border-color: color(b50);
        .input-group-header {
        color: color(b60);
        }
      }
    }
  }
}

.Swap-dropdown {
  .Select-input {
    left: 24px;
  }
}

textarea.input-group-input {
  // height: initial;
}


//
// .input-group-input:last-child {
//     order: -1;
// }
