@import "common/sass/variables";

.GovernanceSection {
  position: relative;
  text-align: center;
  margin: 0 -$space-md 0 0;




  &-transaction-screen {
    max-width: 434px;
    margin: auto;

    // .WalletDecrypt{
    //   width: auto;
    // }

    .AdvancedGas-gas-price, .AdvancedGas-gas-limit, .AdvancedGas-nonce {
      width: 40%;
    }

    .btn-primary {
      width: 100%;
    }


  }
  &-content {
    padding-top: $electron-osx-control-spacing;
    margin: auto;

    .AdvancedGas {

      .InteractExplorer-func-submit {
        width: 100%;
      }

    }
  }

  &-form {
    // padding-top: $electron-osx-control-spacing;
    margin: 0 auto;
    padding-bottom: $electron-osx-control-spacing;




    &-write {
      max-width: 434px;
      margin: auto;
      .NextButton {
        float: right;
        margin-top: 6px;
        min-width: 350px;
      }
    }
  }

  &-topsection {
    position: fixed;
    top: 0;
    height: auto;
    width: 100%;
    padding-top: 20px;
    left: 200px;
    z-index: 1000;
    background-color: white;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-right: 10px;
    padding-bottom: 14px;
    margin-bottom: 18px;
    border-bottom: solid .5px color(n20);

  h2 {
    text-align: left;
    line-height: 1.4;
    margin-bottom: 3px;
    margin-top: 0;
    font-size: 18px;
    padding-left: 20px;
  }

  &-subtitle {
    margin: 0 0 1rem;
    color: color(n800);
    text-align: left;
    font-size: 16px;
    padding-bottom: 10px;

    }

  }

  &-input {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    margin: $space 0;
    padding-left: 10px;
    padding-right: 10px;
    // width: 100%;
    text-align: left;
  }

  &-qr {
    max-width: 15rem;
    margin: 1rem auto;
    width: 100%;
    text-align: center;
  }

  &-row {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin: 0 -0.5rem;

    @media screen and (max-width: $screen-xs) {
      margin: 0;
    }

    &:last-child {
      // margin: 0;
    }
  }
}
