$dark-rgb: 0, 0, 0;
$light-rgb: 255, 255, 255;

// Neutrals

$N900: #122138;
$N800: #1F2F47;
$N700: #2E3E58;
$N600: #3C4A61;
$N500: #4D576B;
$N400: #5D6977;
$N300: #617085;
$N200: #6E7C90;
$N100: #7A8797;
$N90: #8F98A6;
$N80: #9CA3AE;
$N70: #A7AFBA;
$N60: #B4BAC4;
$N50: #C3C8CF;
$N40: #D8DBE0;
$N30: #E7E9EC;
$N20: #F0F2F4;
$N10: #F8F9FA;
$N0: #FFFFFF;

// Blues

$B90: #1F4A8A;
$B80: #2665B0;
$B70: #256FC7;
$B60: #267EDC;  // Primary Brand
$B50: #529BEA;
$B40: #79B4F2;
$B30: #B1D4F8;
$B20: #CFE6FF;
$B10: #E8F2FE;
$B0: #F0F6FD;

// Greens

$G90: #0B965C;
$G80: #20A86F;
$G70: #27A96B;  // Primary Success
$G60: #48CC8D;
$G50: #60E1A3;
$G40: #96F3C6;
$G30: #BBFCDC;
$G20: #D2FDE8;
$G10: #E7FFF3;
$G0: #F2FFF9;

// Reds

$R90: #B00C15;
$R80: #BD242D;
$R70: #CC4149;  // Primary Danger
$R60: #E2535D;
$R50: #F37070;
$R40: #FB8686;
$R30: #FCB0B0;
$R20: #FFD4D4;
$R10: #FFE9E9;
$R0: #FFF2F2;

// Yellows

$Y90: #E29B48;
$Y80: #EEAB5C;
$Y70: #F2B46C;  // Primary Caution
$Y60: #F8C480;
$Y50: #FFD196;
$Y40: #FFDCAF;
$Y30: #FFE7C8;
$Y20: #FFEFDA;
$Y10: #FFF5E8;
$Y0: #FFFAF3;

// Purples

$P90: #7E429B;
$P80: #8D50AA;
$P70: #A16DBA;  // Primary Info & Help
$P60: #AD7EC4;
$P50: #BD90D2;
$P40: #D3ADE5;
$P30: #E1C5EE;
$P20: #EFDBF8;
$P10: #F3E9F8;
$P0: #FBF4FE;

// Teals

$T90: #1F8FA0;
$T80: #259FB2;
$T70: #39AFC1;  // Primary Teal
$T60: #43BCCD;
$T50: #53CBDB;
$T40: #7DDDEA;
$T30: #AAE8EF;
$T20: #C3F4FB;
$T10: #DCFAFF;
$T0: #F1FDFF;

$theme-light: (
  dark-rgb: $dark-rgb,
  light-rgb: $light-rgb,

  n900: $N900,
  n800: $N800,
  n700: $N700,
  n600: $N600,
  n500: $N500,
  gray: $N400,
  n300: $N300,
  n200: $N200,
  n100: $N100,
  n90: $N90,
  n80: $N80,
  n70: $N70,
  n60: $N60,
  n50: $N50,
  n40: $N40,
  n30: $N30,
  n20: $N20,
  n10: $N10,
  n0: $N0,


  b90: $B90,
  b80: $B80,
  b70: $B70,
  b60: $B60,
  b50: $B50,
  b40: $B40,
  b30: $B30,
  b20: $B20,
  b10: $B10,
  b0: $B0,

  g90: $G90,
  g80: $G80,
  g70: $G70,
  g70-dark: darken($G70, 6%),
  g70-darker: darken($G70, 12%),
  g70-light: lighten($G70, 6%),
  g70-lighter: lighten($G70, 12%),

  p90: $P90,
  p80: $P80,
  p70: $P70,
  p70-dark: darken($P70, 6%),
  p70-darker: darken($P70, 12%),
  p70-light: lighten($P70, 6%),
  p70-lighter: lighten($P70, 12%),

  y90: $Y90,
  y80: $Y80,
  y70: $Y70,
  y60: $Y60,
  y50: $Y50,
  y40: $Y40,
  y30: $Y30,
  y20: $Y20,
  y10: $Y10,
  y0: $Y0,

  brand-warning: $Y70,
  brand-warning-dark: darken($Y70, 6%),
  brand-warning-darker: darken($Y70, 12%),
  brand-warning-light: lighten($Y70, 6%),
  brand-warning-lighter: lighten($Y70, 12%),

  r90: $R90,
  r80: $R80,
  r70: $R70,
  r60: $R60,
  r50: $R50,
  r40: $R40,
  r30: $R30,
  r20: $R20,
  r10: $R10,
  r70-dark: darken($R70, 6%),
  r70-darker: darken($R70, 12%),
  r70-light: lighten($R70, 6%),
  r70-lighter: lighten($R70, 12%),
  r0: $R0,

  white-clear: rgba($N0, 0.8),
  white-clearer: rgba($N0, 0.7),
  white-clearest: rgba($N0, 0.6),

  body-bg: $N0,
  pane-bg: $N0,

  footer-bg: $P70,
  footer-border: $B60,

  text-color: $N800,
  text-color-inverted: $N0,

  link-color: $B60,
  link-hover-color: $B60,

  tab-color: $P70,
  tab-border: $N20,
  tab-active-color: $B60,
  tab-active-border: $B60,

  control-bg: $N0,
  default-button-bg: $N20,
  default-button-bg-hover: $N30,
  default-button-bg-active: $N40,
  control-color: $N800,
  control-border: $N40,
  control-disabled-bg: $N10,
  control-disabled-color: $N800,
  control-disabled-border: $N30,
  control-placeholder: $N90,
  control-inset-shadow: rgba($N900, 0.03),
  control-addon-bg: $N20,
  control-addon-border: $N40,

  loader-light: $N0,
  loader-dark: $B60,

  code-bg: $N10,
  code-border: $N30,

  tooltip-bg: $N900,
  tooltip-color: $N0,

  component-active-color: $N0,
  component-active-bg: $B60,
);

$N900: #b8bfd0;
$N800: #8e97a9;
$N700: #4d5463;
$gray: #393f4c;
$gray-light: #333842;
$N20: #282C34;
$N10: #21252B;

$theme-dark: (
  dark-rgb: $light-rgb,
  light-rgb: $dark-rgb,

  n900: $N900,
  n800: $N800,
  n700: $N700,
  gray: $gray,
  gray-light: $gray-light,
  n20: $N20,
  n10: $N10,

  b60: lighten($B60, 6%),
  b70: $B60,
  b80: darken($B60, 6%),
  b50: lighten($B60, 12%),
  b40: lighten($B60, 16%),

  g0: $G0,
  g10: $G10,
  g20: $G20,
  g30: $G30,
  g40: $G40,
  g70-lighter: $G50,
  g70-light: $G60,
  g70: $G70,
  g70-dark: $G80,
  g70-darker: $G90,

  p70: lighten($P70, 6%),
  p70-dark: $P70,
  p70-darker: darken($P70, 6%),
  p70-light: lighten($P70, 12%),
  p70-lighter: lighten($P70, 16%),

  brand-warning: lighten($Y70, 6%),
  brand-warning-dark: $Y70,
  brand-warning-darker: darken($Y70, 6%),
  brand-warning-light: lighten($Y70, 12%),
  brand-warning-lighter: lighten($Y70, 16%),

  r70: saturate(lighten($R70, 6%), 7%),
  r70-dark: saturate($R70, 7%),
  r70-darker: saturate(darken($R70, 6%), 7%),
  r70-light: saturate(lighten($R70, 12%), 7%),
  r70-lighter: saturate(lighten($R70, 16%), 7%),

  white-clear: rgba($N10, 0.9),
  white-clearer: rgba($N10, 0.8),
  white-clearest: rgba($N10, 0.7),

  body-bg: $N10,
  pane-bg: $N20,

  footer-bg: $gray-light,
  footer-border: $gray-light,

  text-color: $N700,
  text-color-inverted: #fff,

  link-color: $B60,
  link-hover-color: #267EDC,

  tab-color: $N900,
  tab-border: $N900,
  tab-active-color: #fff,
  tab-active-border: #fff,

  control-bg: $gray,
  control-color: #FFF,
  control-border: $N700,
  control-disabled-bg: rgba($gray-light, 0.5),
  control-disabled-color: #aaa,
  control-disabled-border: rgba($gray-light, 0.5),
  control-placeholder: rgba(#FFF, 0.3),
  control-inset-shadow: rgba(#FFF, 0.03),
  control-addon-bg: $N700,
  control-addon-border: $N700,

  loader-light: #fff,
  loader-dark: #fff,

  code-bg: $gray,
  code-border: $N700,

  tooltip-bg: #1c1c1c,
  tooltip-color: #FFF,

  component-active-color: $gray-light,
  component-active-bg: $B60,
);

$themes: (
  ('light', $theme-light),
  ('dark', $theme-dark)
);

$color-var-prefix: '--color';
@function color($name) {
  // First make sure it's a legit color, and error if not
  @if (map-get($theme-light, $name) == null) {
    @error 'Color `#{$name}` is not a valid color';
    @return false;
  }

  @return var(#{$color-var-prefix}-#{$name});
}

@function shade-dark($opacity) {
  @return rgba(var(#{$color-var-prefix}-dark-rgb), $opacity);
}

@function shade-light($opacity) {
  @return rgba(var(#{$color-var-prefix}-light-rgb), $opacity);
}
