@import 'common/sass/variables';

@keyframes ban-wifi {
  0% {
    opacity: 0;
    transform: scale(1.3);
  }
  100% {
    opacity: 1;
    transform: scale(1.1);
  }
}

.OfflineTab {
  text-align: center;
  color: #5D6977;

  .Tab-content-pane {
    display: flex;
    flex-direction: column;
    justify-content: center;

      .fa-stack {
        margin: 0 auto;
      }

  }

  &-icon {
    opacity: 0.8;

    .fa-ban {
      color: color(r70);
      animation: ban-wifi 200ms ease 200ms 1;
      animation-fill-mode: both;
    }

  }
}
