@import 'common/sass/variables';

.TxStatus {
  text-align: center;
  border: 1px solid color(n40);
  border-radius: 6px;
  margin-bottom: 20px;
  // padding: 1rem 0;

  &-title {
    margin-top: 0;
  }

  &-data {
    text-align: left;
    // overflow-x: auto;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  &-loading {
    padding: $space * 3 0;
  }

  &-error {
    max-width: 620px;
    margin: 0 auto;

    &-title {
      color: color(r70);
    }

    &-desc {
      font-size: $font-size-bump;
      margin-bottom: $space-md;
    }

    &-list {
      text-align: left;
    }
  }
}
