@import 'common/sass/variables';
@import 'common/sass/mixins';

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  border-top: none;
  vertical-align: middle;
}

td.TxData-row-label {

}
.TxData {
  &-row {
    font-size: 0.9rem;
    border-bottom: solid 1px color(n20);

    &:last-child {
      border-bottom: none;

    }







    &-label {
      // font-weight: bold;
      // text-align: right;
      color: color(gray);
      text-transform: uppercase;
      letter-spacing: .4px;
      font-size: .8rem;
      padding-left: 0 !important;

    }

    &-data {
      // @include mono;
      padding-right: 0 !important;


      a {
        vertical-align: middle;

      }

      &-more {
        margin-left: $space-sm;
        font-size: 0.7rem;
        opacity: 0.7;
      }

      &-status {
        font-weight: bold;

        &.is-success {
          color: color(g70);
        }
        &.is-warning {
          color: color(brand-warning);
        }
        &.is-danger {
          color: color(r70);
        }
      }

      .Identicon {
        float: left;
        margin-right: $space-sm;
      }

      textarea {
        display: block;
        width: 100%;
        height: 7.2rem;
        background: color(n20);
      }
    }
  }
}
