@import 'common/sass/variables';
@import 'common/sass/mixins';

$button-padding: $space-xs $space-md;
$button-font-size: $font-size-small;

@if ($is-electron) {
  $button-padding: 12px 0px;
  $button-font-size: 13px;
}


.NetworkSelector {
  width: 100%;
  text-align: left;
  color: color(text-color);
  font-size: $font-size-base;

  &-add {
   background-color: color(b60) !important;
   color: color(n0);
   margin: 20px 20px 0 20px !important;
   width: 80%;


   &:hover {
     background-color: color(b70) !important;
   }

   &:active {
     background-color: color(b80) !important;
   }

   .fa {
     font-size: 16px;
     width: 11px;
     text-align: center;
     // opacity: 0.8;
     margin-right: $space-md;
   }

  }

  &-alts {
    border-bottom: 1px solid shade-dark(0.08);
    border-top: 1px solid shade-dark(0.08);
    color: color(text-color);
    width: 100%;


    &:hover {
      color: color(link-hover-color);
    }

    .fa {
      font-size: 12px;
      width: 11px;
      text-align: center;
      opacity: 0.8;
      margin-right: $space-xs;
    }

  }

  &-add,
  &-alts {
    @include reset-button;
    display: block;
    padding: $button-padding;
    margin-top: 20px;
    text-align: center;
    font-size: $button-font-size * 1.1;
  }

  &-alts {
    // border-bottom: 1px solid shade-dark(0.08);
  }

  @if ($is-electron) {
    &-add {
      // border-bottom: 1px solid shade-dark(0.08);
    }
  }
}
