@import 'common/sass/variables';
@import 'common/sass/mixins';

$radio-size: 13px;
$label-padding: 0.3rem 0.4rem;
$left-border-size: 2px;

@if ($is-electron) {
  $radio-size: 13px;
  $label-padding: 12px 8px;
  $left-border-size: 4px;
}

.NetworkOption {
  // border-left: $left-border-size solid;
  // border-bottom: 1px solid shade-dark(0.08);
  &-title {
    display: flex;
    align-items: center;
    padding-left: 16px;
    // padding-bottom: 0.2rem;
    padding-top: 0.8rem;
    font-size: $font-size-xs-bump;
    padding-right: 16px;
    font-weight: 600;
  }
  &-label {
    display: flex;
    align-items: center;
    padding-left: 16px;
    // padding-bottom: 0.2rem;
    padding-top: 0.7rem;
    font-size: $font-size-xs-bump;
    padding-right: 16px;



    cursor: pointer;

    &-name {
      flex: 1;
      @include ellipsis;

      // @if ($is-electron) {
      //   &.is-long-name {
      //     font-size: 14px;
      //   }
      // }

      &:before {
        content: "";
        position: relative;
        display: inline-block;
        border-radius: 3px;
        height: 8px;
        width: $radio-size;
        margin-right: $space-sm;
        box-shadow: 0 0 0 2.5px color(n10) inset;
      }

      &:hover {

        &:before {
          // background-color: color(n10) !important;

          border-color: shade-dark(0.3);
        }
      }

      &.is-selected {
        &:before {
          background: color(b60);
          border-color: color(b60);
          box-shadow: 0 0 0 2px color(b60) inset;

        }
      }

      &.is-specific-node {
        &:before {
          // background: linear-gradient(
          //   135deg,
          //   transparent,
          //   transparent 45%,
          //   color(b60) 45%,
          //   color(b60) 100%
          // );
          background: color(n40);
          box-shadow: none;

        }

        &:hover:before {
          // background: linear-gradient(
          //   135deg,
          //   transparent,
          //   transparent 45%,
          //   color(b80) 45%,
          //   color(b80) 100%
          // );
          // box-shadow: 0 0 0 2px color(b80) inset;
          background: color(b40);
          box-shadow: none;
        }

      }

      &-badge {
        display: inline-block;
        opacity: 0.5;
        margin-left: 0.2rem;
        font-size: 11px;
      }
    }

    &-expand {
      @include reset-button;
      // width: 18px;
      // height: 20px;
      font-size: $font-size-xs-bump;
      color: color(n60);
      border-radius: 100%;
      transition-property: color, background-color, transform;
      transition-duration: 75ms;
      transition-timing-function: ease;

      &:hover {
        color: shade-dark(0.8);
        // background: shade-dark(0.1);
      }

      &.is-expanded {
        // color: color(n700);
        transform: rotate(180deg);
      }
    }
  }

  &-nodes {
    padding: 0.4rem 16px;
    // padding-left: .2rem;
    // background: shade-dark(0.02);
    // border-top: 1px solid shade-dark(0.08);
  }
}
