@import 'common/sass/variables';
@import 'common/sass/mixins';

$radio-size: 13px;

.NodeOption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: $font-size-xs-bump;
  padding: 0 0 0.4rem 0;

  &:last-child {
    padding: 0;
  }

  &-name {
    flex: 1;

    cursor: pointer;
    @include ellipsis;
    &:first {
      padding: 0;
    }


    &:before {
      content: '';
      display: inline-block;
      border-radius: 3px;
      height: 8px;
      width: $radio-size;
      margin-right: $space-sm;
      background: color(n40);
    }

    &:hover {
      &:before {
        background: color(b40);
      }
    }

    &.is-selected {
      &:before {
        border: none;
        background: color(b60);
      }
    }

    &.is-auto-selected {
      &:before {
        background: color(n40);

        &:hover {
          background: color(b50);
        }
      }

      &:hover:before {
        background: color(b50);
      }
    }
  }

  &-remove {
    @include reset-button;
    color: color(n60);
    font-size: 12px;

    &:hover {
      color: color(r70);
      opacity: 1;
    }
  }
}
