@import 'common/sass/variables';

.RecentTxs {
  position: relative;

  .well {
    box-shadow: none;
    border-radius: 4px;
    background: color(n10);
    border: 1px solid color(n30);


  }

  &-txs {
    width: 100%;

    td {
      text-align: left;
      padding: $space-md;
      white-space: nowrap;

      &:first-child {
        text-align: left;
      }
    }

    thead {
      font-size: $font-size-xs-bump;
      text-transform: uppercase;
      letter-spacing: .4px;
      color: color(gray);
      border-bottom: 1px solid color(n20);

      td {
        padding-top: $space-xs;
        padding-bottom: $space-sm;
      }
    }
  }

  &-back {
    display: block;
    max-width: 300px;
    margin: $space auto 0;

    .fa {
      margin-right: $space-xs;
      opacity: 0.6;
      transition: $transition;
    }

    &:hover {
      .fa {
        opacity: 1;
      }
    }
  }

  &-empty {
    padding: $space * 3;
    text-align: center;

    &-text {
      margin: 0;
      line-height: 1.4;
      color: color(n100);
    }
  }

  &-help {
    // max-width: 540px;
    margin: $space * 2 auto 0;
    font-size: $font-size-small;
    text-align: center;
    color: color(gray);
  }
}
