@import 'common/sass/mixins';
@import 'common/sass/variables';

.Tab {
  &-content {
    height: 100%;

    &-pane {
      background: color(pane-bg);
      min-height: 1.5rem;
      padding: 0;
      margin: 0 auto 1rem;
      height: 100%;
      // border-style: solid;
      // border-width: 1px;
      // border-color: color(gray-lighter);
      // box-shadow: $tab-box-shadow;
      // border-radius: 6px;

      &.is-full-width {
        background: none;
        box-shadow: none;
        padding: 0;
      }
    }
  }
}

.Block {
  @extend .Tab-content-pane;
}
