@import 'common/sass/variables';

$pw-max-width: 40rem;

.EnterPw {

  // margin-top: $space * 3.5;

  &-title {
    // margin: $space auto;
    position: fixed;
    top: 0;
    left: $electron-sidebar-width;
    width: 100%;
    font-weight: 600 !important;
    height: auto;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 10px;
    padding-bottom: 17px;
    z-index: 1000;
    background-color: color(n0);
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 18px;
  }
  &-warning {
    max-width: 40rem;
    text-align: left;
    margin: auto;
    font-size: $font-size-small;
    color: color(n600);
  }

  &-password {
    display: block;
    position: relative;
    max-width: $pw-max-width;
    width: 100%;
    margin: 0 auto;

    &-label {
      margin-bottom: $space;
    }

    &-feedback {
      top: 100%;
      text-align: left;
      margin-bottom: 1rem;
    }
  }

  &-submit {
    max-width: $pw-max-width;
    margin: $space auto $space * 2;
  }
}
