@import 'common/sass/variables';

.GenPaper {
  margin-top: $space * 4;

  &-continue {
    margin: auto;
    float: none;
  }

  &-title {
    position: fixed;
    top: 0;
    left: $electron-sidebar-width;
    width: 100%;
    font-weight: 600 !important;
    font-size: 18px;
    text-align: left;
    height: auto;
    line-height: 1.4;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 10px;
    padding-bottom: 17px;
    z-index: 1000;
    background-color: color(n0);
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 18px;
  }

  &-private {
    max-width: 680px;
    margin: 0 auto $space * 3;
    margin-top: 12px;
    > .input-group-header {
      margin-bottom: 1rem;
      // This selector is an exception, it targets the span returned using `translate`.
      > span {
        font-size: 2rem;
        margin: auto;
      }
    }
  }

  &-paper,
  &-warning {
    margin-bottom: $space * 3;
  }
}
