@import 'common/sass/variables';

.tx-modal-details {
  margin-top: 1rem;
  max-width: 451px;

  &-network-info {
    text-align: center;
    font-weight: 400;
    color: shade-dark(0.5);
  }

  &-button {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    color: color(b60);
    border: none;
    padding: 0;
    border-radius: 2px;
    transition: background-color 300ms;
    background-color: transparent;

    &:hover {
      color: color(b80);
    }

  }
}
